<a href="https://colab.research.google.com/github/Lalpreet-Singh/repo1/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

# this is the heading

In [ ]:
3+4+5

12

# public link

```

```

In [ ]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2023-06-14 05:19:10--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv.1’

titanic.csv.1       100%[===================>]  58.89K  --.-KB/s    in 0.002s

2023-06-14 05:19:10 (30.2 MB/s) - ‘titanic.csv.1’ saved [60302/60302]

In [ ]:
!ls

sample_data  titanic.csv

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('titanic.csv.1', sep ='\t').head()

  PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...

# ***bold text***

# New section

# This *is* **heading**



```
# This is formatted as code
for item in list:
print(item)
```

[google search](https://www.google.com)

$ ax^2+ bx +c $

$$ x1 = \frac{-b + \sqrt{b^2 -4ac}}{2a} $$